@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "User List";
}

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Employees List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Employee
            </a>
        </div>
    </div>
    <br /><br />
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(u => u.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(u => u.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(u => u.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PhoneNumber)
                        </td>
                        <td align="center">
                            @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                            {
                                <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                                    <i class="fas fa-lock-open"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-danger text-white" asp-action="Unlock" asp-route-id="@item.Id">
                                    <i class="fas fa-lock"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" align="center">
                        No data found.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/user.js"></script>
}
